<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="folharosto" connectionString="Server=folharosto.mysql.dbaas.com.br;User Id=folharosto;Pwd=gabbi1234;Database=folharosto;includesecurityasserts=true;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState timeout="60"></sessionState>
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <httpRuntime maxQueryStringLength="2097151" maxUrlLength="10999" maxRequestLength="1048576" requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    
    <httpProtocol>
        <customHeaders>
            <add name="Access-Control-Allow-Origin" value="*" />
            <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
            <add name="Access-Control-Allow-Headers" value="Content-Type" />
        </customHeaders>
    </httpProtocol>
    
    <security>
      <requestFiltering>
        <!--Query String Length-->
        <requestLimits maxQueryString="2097151" maxAllowedContentLength="1073741824" maxUrl="10999" />
      </requestFiltering>
    </security>
  </system.webServer>

  <appSettings>
    <add key="Debug" value="0" />
  </appSettings>

</configuration>
